.btn {
  @include btn-reset;
  display: block;
  width: 222px;
  padding: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: $color-default-white;
  background-color: $color-outrageous-orange;
  border: 2px solid $color-outrageous-orange;
  border-radius: 4px;
  transition:
    color $default-transition-settings,
    background-color $default-transition-settings,
    border-color $default-transition-settings;

  &:hover,
  &:focus {
    color: $color-outrageous-orange;
    background-color: $color-default-white;
  }

  &:active {
    color: rgba($color-outrageous-orange, 0.7);
    border-color: rgba($color-outrageous-orange, 0.7);
  }

  @include viewport--sm {
    width: 100%;
  }
}
