.features {
  margin-bottom: 130px;

  @include viewport--md {
    margin-bottom: 80px;
  }

  @include viewport--sm {
    margin-bottom: 50px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;

  @include viewport--md {
    margin-bottom: 40px;
    font-size: 32px;
    text-align: center;
  }

  @include viewport--sm {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.features__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @include viewport--md {
    display: block;
    margin: 0;
  }
}

.features__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(50% - 30px);
  margin: 15px;
  padding: 21px 10px;
  padding-left: 40px;
  background-color: $color-magnolia;
  border-radius: 6px;

  @include viewport--md {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    padding: 16px 10px;
    padding-left: 30px;

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
  }

  @include viewport--sm {
    max-width: 420px;
    padding: 16px;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}

.features__item-content {
  padding: 22px 0;

  @include viewport--md {
    padding: 8px 0;
  }

  @include viewport--sm {
    padding: 0;
  }
}

.features__item-header {
  margin: 0;
  margin-bottom: 22px;
  font-family: $font-family--segoeui;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.31;

  @include viewport--md {
    margin-bottom: 16px;
  }

  @include viewport--sm {
    font-size: 20px;
    margin-bottom: 12 px;
  }
}

.feature__item-desc {
  margin: 0;
  font-family: $font-family--segoeui;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.42;
  color: $color-grape;
}

.feature__item-decor {
  flex-shrink: 0;
  display: block;
  width: 193px;
  height: 193px;
  margin-left: 35px;

  @include viewport--md {
    width: 115px;
    height: 115px;
    margin-left: 24px;
  }

  @include viewport--sm {
    display: none;
  }
}
