.registration-offer {
  margin-bottom: 185px;

  @include viewport--md {
    margin-bottom: 105px;
  }

  @include viewport--sm {
    margin-bottom: 80px;
  }
}

.registration-offer__wrapper {
  min-height: 370px;
  padding: 70px;
  background-image:
    url("../img/bg/bg-registration-offer.png"),
    $blue-to-right;
  background-size: 732px 340px, 100%;
  background-position: bottom 13px right 0, center;
  background-repeat: no-repeat;
  border-radius: 10px;

  @include viewport--md {
    min-height: 300px;
    padding: 50px;
    background-size: 586px 272px, 100%;
  }

  @include viewport--sm {
    min-height: unset;
    padding: 24px;
    background-image: $blue-to-right;
    background-size: 100%;
    background-position: center;
    border-radius: 6px;
  }
}

.registration-offer__content {
  max-width: 560px;
  color: $color-default-white;

  @include viewport--md {
    max-width: 450px;
  }
  @include viewport--sm {
    max-width: 420px;
    margin: 0 auto;
  }
}

.registration-offer__title {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.32;

  @include viewport--md {
    font-size: 28px;
    margin-bottom: 35px;
  }

  @include viewport--md {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
