<div class="modal-authorization">
  <p class="modal-authorization__title">Авторизация</p>
  <div class="modal-authorization__form">
    <form action="#" method="post">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" placeholder="Введите e-mail">

      <label for="password">Пароль</label>
      <input type="password" name="password" id="password" placeholder="Введите пароль">

      <a class="btn btn--flex" href="#">Войти</a>
    </form>
  </div>
</div>
